                         <div class="col d-flex flex-column"> <div class="card shadow h-100 d-flex flex-column"> <div class="card-header py-3 d-flex">
                                     <button type="button" class="btn btn-sm float-left" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                         <i class="fas fa-pencil"></i>
                                     </button>
                                     <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Title</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <input type="text" class="form-control" placeholder="Enter new title">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h6 class="pl-5 mt-2 font-weight-bold text-primary">Test File 1.txt</h6>
                                 </div>
                                 <div class="card-body flex-grow-1 d-flex flex-column">
                                     <textarea id="markdown-editor"># Test Content

This is some initial markdown content.

To test scrolling, we need more lines.

Line 1
Line 2
Line 3
Line 4
Line 5
Line 6
Line 7
Line 8
Line 9
Line 10
Line 11
Line 12
Line 13
Line 14
Line 15
Line 16
Line 17
Line 18
Line 19
Line 20
Line 21
Line 22
Line 23
Line 24
Line 25
Line 26
Line 27
Line 28
Line 29
Line 30
Line 31
Line 32
Line 33
Line 34
Line 35
Line 36
Line 37
Line 38
Line 39
Line 40
Line 41
Line 42
Line 43
Line 44
Line 45
Line 46
Line 47
Line 48
Line 49
Line 50

End of test content.
                                     </textarea>
                                 </div>
                             </div>
                         </div>
                     </div>
