<!-- Content Column -->
<div class="col mb-4">

    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex">
            <button type="button" id="btn-add-file" class="btn btn-sm float-left btn-circle">
                <i class="fas fa-plus"></i>
                <div id="div-folderView-path" class="d-none">{path}</div>
            </button>
            <h6 class="pl-5 mt-2 font-weight-bold">{basename}</h6>
        </div>
        <div class="card-body" id="files">
        </div>
    </div>
</div>
