<div class="mb-4" id="div-folder-{id}">
    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold mb-1" id="div-folder-name-{id}">{basename}</div>
                    <div class="h6 mb-0 text-gray-800">
                        <code class="folder-path" id="code-folder-path-{id}">{path}</code>
                    </div>
                </div>
                <div class="col-auto">
                    <a href="#" data-id="{id}" class="btn-sm btn-danger btn-circle float-right btn-folder-delete">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
