<!-- Content Column -->
<div class="col mb-4">
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex">
            <h6 class="pl-5 mt-2 font-weight-bold">Theme</h6>
        </div>
        <div class="card-body">
            <div id="theme-radios" class="mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="theme" id="theme-light" value="light" data-bs-theme-value="light">
                    <label class="form-check-label" for="theme-light">
                        <i class="bi bi-sun-fill me-1"></i> Light
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="theme" id="theme-dark" value="dark" data-bs-theme-value="dark">
                    <label class="form-check-label" for="theme-dark">
                        <i class="bi bi-moon-stars-fill me-1"></i> Dark
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="theme" id="theme-auto" value="auto" data-bs-theme-value="auto">
                    <label class="form-check-label" for="theme-auto">
                        <i class="bi bi-circle-half me-1"></i> Auto
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex">
            <button type="button" id="btn-add-folder" class="btn btn-sm float-left btn-circle">
                <i class="fas fa-plus"></i>
            </button>
            <div class="col">
                <h6 class="pl-5 mt-2 font-weight-bold">Folders</h6>
                <i>drag and drop to sort</i>
            </div>
        </div>
        <div class="card-body" id="folders">
        </div>
    </div>
</div>
